@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins/Poppins-Medium.ttf) format('woff2');
}
body {
  margin: 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lg-box {
    flex: 0 0 auto;
    width: 75%;
  }
.md-box {
    flex: 0 0 auto;
    width: 50%;
  }
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item-left {
  float: left;
}
.flex-item-right {
  float: right
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 2rem !important;
}
.wrap {
  width: 100%;
  font-family: 'Poppins';
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 100%;
  width: 1320px;
}
.center-wrap {
  max-width: fit-content;
  margin: auto;
}
.box {
  max-width: fit-content;
  margin: auto;
  margin-top: 10px;
}
form.registerForm {
    --formGap: 1rem;
    --containerWidthSM: 420px;
    container-type: inline-size;
    position: relative;
}
form.registerForm .registerFormInner>.form-control.firstNameWrapper {
    order: 1;
}
form.registerForm .form-control .input {
    position: relative;
}
form.registerForm .form-control .input svg {
    display: none;
    height: 90%;
    width: auto;
    position: absolute;
    inset: 3% 10px auto auto;
}
form.registerForm .form-control .phone-input svg {
    display: none;
    height: 55%;
    width: auto;
    position: absolute;
    inset: 0% 10px auto auto;
}
form.registerForm .error {
    color: var(--clr-danger);
    font-size: 61%;
    padding-top: 1px;
    color: red;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
}
input[type="checkbox"] {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-prepend {
      margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    /* background-color: var(--bs-body-bg); */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-select {
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-repeat: no-repeat;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}
.register-form {
  width: 320px;
  margin: auto;
  input,
  select {
  margin-bottom: 13px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  }
  select.form-select {
    background-image: url("./images/select-icon.png");
    background-position: right center;
    background-size: auto;
  }
  .phone {
    display: flex;
  }
  .input-prefix {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
  }
     label {
      font-size: 11px;
    }
    p {
      font-size: 12px;
         margin-top: 0;
      margin-bottom: 1rem;
    }
.btn {
  justify-content: center;
  font-size: 18px;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  background-color: #f3791f;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #121212;
  width: 100%;
  }
.btn:hover {
  color:  #f3791f;
 background-color: #000f4c;
  }
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-center {
    text-align: center !important;
}
header {
   background-image: url("./images/blue-header-color.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .icon-img {
      margin-top: 30px;
    }
    .shapes-img {
    background-image: url("./images/opac-shapes.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    }
    .coin1-img {
      position: absolute;
      top: 0;
      right: 0;
    }
    .coin2-img {
        position: absolute;
        right: 45%;
        bottom: 10%;
    }
     .man-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: auto;
    height: auto;
  }
  .main-cta {
    margin: auto 36px;
    padding: 35px 40px 200px;
      h2 {
    font-size: 36px;
    font-weight: 800;
    margin-top: 5px;
    color:  #ffffff;
    span{
      color:  #f3791f;
    }
  }
  h4 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.6;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 60px 20px 0;
    width: 55%;
  }
  }
  .form-box {
    width: 90%;
    background-color: rgb(255, 255, 255);
    padding: 12px 29px;
    margin-top: 50px;
    margin-bottom: 50px;
    h4 {
      margin: 20px auto;
      font-size: 25px;
      font-weight: 800;
      padding: 0;
      color: #000f4c;
    }
  }
.register-form {
  width: 100%;
  margin: auto;
  input,
  select {
  margin-bottom: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 3px 15px;
  }
  select.form-select {
    background-image: url("./images/svg-select.png");
    background-position: right center;
    background-size: auto;
  }
  .phone {
    display: flex;
  }
  .agreementCheckbox {
    display: flex;
  }
  .input-prefix {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
  }
     label {
      font-size: 11px;
    }
    p {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 1rem;
    }
  }
}
main {
  position: relative;
  section {

 .small-box {
    margin: auto;
    text-align: center;
    padding: 1px;
    .xs-box {
      margin: auto;
      width: 300px;
    }
        p {
    color: #121212;
    text-align: center;
  }
      h6 {
    color: #000f4c;
    font-size: 20px;
    font-weight: 900;
  }

}
  }
}
footer {
  background-color: #121212;
  text-align: left;
    p {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 1.6;
    color: #ffffff;
  }
}
@media only screen and (max-width: 1700px) {
  header {
    .main-cta{
      h4{
        width: 71%;
      }
    }
    .man-img {
      width: 43%;
    }
  }
}
@media only screen and (max-width: 1300px) {
    header {
    .icon-img {
      margin-left: 54px;
    }
   .main-cta {
    margin: auto 36px;
      h2 {
    font-size: 36px;
    font-weight: 800;
    margin-top: 60px;
    color:  #ffffff;
    span{
      color:  #f3791f;
    }
  }
  h4 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.6;
    font-size: 27px;
    margin-top: 30px;
    padding: 10px 60px 20px 0;
    width: 77%;
     }
   }
    .man-img {
      position: absolute;
      margin-top: 20px;
       width: 40%;
    }
    .coin2-img {
      bottom: 8%;
    }
    .form-box {
      width: 400px;
      margin: 100px 0px ;
    }
  }
}
@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}
@media only screen and (max-width: 1200px) {
    header {
    .flex-container {
    flex-direction: column-reverse;
    }
   .main-cta {
    padding: 35px 20px 41px;
    h4 {
    width: 100%;
     }
    }
    .man-img {
      width: 100%;
      position: relative;
    }
    .coin1-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 31%;
    height: auto;
    }
    .coin2-img {
      bottom: 25%;
    }
    .form-box {
      margin: auto;
    }
  }
  main {
    section .small-box {
      .col-4 {
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width: 1090px) {
  header {
    .icon-img {
    margin-left: 60px;
    }
    .man-img {
      margin-top: 20px;
    }
    .form-box {
      width: 400px;
    }
 }
}
@media only screen and (max-width: 1050px) {
  header{
    .main-cta {
      padding: 35px 20px 41px;
      h2 {
    font-size: 33px;
      }
      h4 {
        font-size: 25px;
        }
   }
  }
}
@media only screen and (max-width: 900px) {
    header {
    .main-cta {
       margin: auto auto;
       padding: 35px 19px 17px;
      h2 {
        font-size: 28px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  main {
       .flex-container {
    flex-direction: column;
  }
 }
}
@media only screen and (max-width: 700px) {
  header {
    .icon-img {
      margin-left: 18px;
      }
    .man-img {
      margin-top: 20px;
    }
    .coin2-img {
      bottom: 22%;
      width: 16%;
      height: auto;
    }
    .main-cta {
      h2 {
        font-size: 27px;
      }
      h4 {
        font-size: 23px;
      }
    }
  }

  main {
    section .small-box {
      .col-4 {
        margin: 0;
      }
    }
     section .small-box .xs-box {
      display: flex;
      flex-direction: row-reverse;
      width: 70%;
      img {
        padding: 10px;
      }
      p {
        text-align: left;
      }
    }
  }
}
@media only screen and (max-width: 647px) {
  header {
    .coin2-img {
      bottom: 13%;
      width: 17%;
      height: auto;
    }
    .main-cta {
      h2 {
        font-size: 25px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  header {
    .form-box {
      width: 100%;
      margin: auto;
      }
    .main-cta {
      h2 {
        margin-top: 20px;
        font-size: 22px;
      }
      h4 {
        padding: 10px 31px 20px 0;
      }
    }
  }
}
@media only screen and (max-width: 447px) {
  header {
    .form-box {
      h4 {
        font-size: 20px;
        }
      }
    .main-cta {
      h2 {
        margin-top: 0;
        font-size: 20px;
      }
      h4 {
        font-size: 14px;
        padding: 10px 31px 20px 0;
        width: 100%;
      }
    }
  }
main {
  section .small-box .xs-box {
    width: 100%;
    p {
      font-size: 14px;
    }
    }
  }
}
@media only screen and (max-width: 375px) {
  header {
    .main-cta {
      h2 {
        font-size: 18px;
      }
    }
  }
}