@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 .lg-box {
    flex: 0 0 auto;
    width: 75%;
  }
 .md-box {
    flex: 0 0 auto;
    width: 50%;
  }
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item-left {
  flex: 65%;
}
.flex-item-right {
  flex: 35%;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 2rem !important;
}
.wrap {
  width: 100%;
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 100%;
  width: 1320px;
}
.center-wrap {
  max-width: fit-content;
  margin: auto;
}
.box {
  max-width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 90px;
}

form.registerForm {
    --formGap: 1rem;
    --containerWidthSM: 420px;
    container-type: inline-size;
    position: relative;
}

form.registerForm .registerFormInner>.form-control.firstNameWrapper {
    order: 1;
}
form.registerForm .form-control .input {
    position: relative;
}
form.registerForm .form-control .input svg {
    display: none;
    height: 90%;
    width: auto;
    position: absolute;
    inset: 3% 10px auto auto;
}
form.registerForm .form-control .phone-input svg {
    display: none;
    height: 62%;
    width: auto;
    position: absolute;
    inset: 2% 10px auto auto;
}
form.registerForm .error {
    color: var(--clr-danger);
    font-size: 61%;
    padding-top: 1px;
    color: red;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
}
input[type="checkbox"] {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-prepend {
      margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    /* background-color: var(--bs-body-bg); */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-select {
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-repeat: no-repeat;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-center {
    text-align: center !important;
}
header {
.first-header-container {
  padding-top: 40px;
  background-image: url("./images/web-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.last-header-container{
  background-color: #fff;
  .small-box {
    margin: 10px auto;
    width: 100%;
    display: flex;
    .box {
      display: flex;
      width: 30%;
      margin: 10px auto;
    }
    p {
      color: rgb(1, 1, 1);
      font-weight: 400;
      text-align: left;
      font-size: 14px;
      margin: 10px 5px;
    }
    img {
      margin: auto 5px;
    }
  }
}
 .main-content {
    width: 500px;
    padding-left: 20px;
    padding-right: 60px;
 }
  h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 50px 70px 50px 0px;
    color:  #fccf1a;
    text-shadow: 2px 2px #001c2b;
  }
  h3 {
  color:  rgb(255, 255, 255);
  margin-bottom: 40px;
  line-height: 1.6;
  font-weight: 300;
  font-size: 29px;
   padding: 2px 60px 15px 0px;
  }
  h4 {
    color: rgb(15, 31, 42);
    font-weight: 500;
    line-height: 1.2;
    font-size: 17px;
    padding: 0px 70px;
    span {
      font-weight: 800;
    }
  }

  .form-box {
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(32, 32, 32, 0.2) 0px 2px 4px 4px,rgba(34, 34, 34, 0.2) 0px 2px 4px 4px;
    padding: 12px 29px;
    margin-top: 90px;
    h4 {
      margin: 20px auto;
      font-weight: 800;
      padding: 0;
    }
  }
.btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  background-color: #000000;
  color: #fccf1a;
  border-radius: 0;
  font-size: 17px;
  margin-bottom: 10px;
  width: 100%;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(55, 84, 116);
}
.register-form {
  width: 250px;
  margin: auto;
  input,
  select {
  margin-bottom: 13px;
  border-radius: 0;
  font-size: 13px;
  padding: 1px 15px;
  }
  select.form-select {
    background-image: url("./images/select-icon.png");
    background-position: right center;
    background-size: auto;
  }
  .phone {
    display: flex;
  }
  .input-prefix {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
  }
     label {
      font-size: 8px;
    }
    p {
      font-size: 8px;
         margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}
main {
  position: relative;
  .first-main-container {
    border-top: 1px solid  #000000;
h2 {
  color: #0a4361;
}
h4 {
  font-weight: 500;
  padding: 5px;
  font-size: 19px;
}
  }
  .second-main-container{
    background-image: url("./images/web-lower-body-blue-gradient-strip.jpg");
    h4{
      font-size: 20px;
       margin: 20px auto;
       color: rgb(255, 255, 255);
       font-weight: 300;
       line-height: 1.6;
       span {
        color: #fccf1a;
        font-weight: 600;
       }
       span:first-child {
        color: rgb(255, 255, 255);
        font-weight: 700;
       }
    }
  }
  .third-main-container {
    padding: 25px;
   .btn {
    background-color: #ffb401;
    color: #000000;
    border-radius: 0;
    box-shadow: 2px 2px #000000;
    font-weight: 900;
    font-size: 24px;
    padding: 5px 18px;
   }
   .btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(55, 84, 116);
}
  }
  .mobil-man {
    display: none;
  }
  .web-man {
    position: absolute;
    bottom: 10px;
  }
}
footer {
  background-color: rgb(53, 53, 53);
  text-align: center;
  .footer-wrap {
    padding: 0px 25px;
  }
    p {
    margin-bottom: 24px;
    font-size: 10px;
    color: rgb(206, 206, 206);
  }
}
@media only screen and (max-width: 1584px) {
  footer {
    margin: auto;
  .lg-box {
    width: 100%;
  }
    }
}
@media only screen and (max-width: 1500px) {
 main {
    .mobil-man {
    display: block;
    margin: auto;
    margin-top: -50px;
  }
  .web-man {
    display: none;
  }
  .p-4 {
    padding: 0.5rem !important;
  }
 }
}
@media only screen and (max-width: 1252px) {
 main {
  .second-main-container {
      h4:first-child {
      margin-top: auto;
    }
  }
 }
}
@media only screen and (max-width: 1000px) {
   .flex-container {
    flex-direction: row;
  }
  .flex-item-left {
    flex: 60%;
  }
   .flex-item-right {
    flex: 40%;
  }
  header {
    .last-header-container{
      .small-box {
        img {
          margin: 0 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 748px) {
   .flex-container {
    flex-direction: column;
  }
   .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  header {
    .first-header-container {
      background-image: url("./images/Mobil-header.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      }
      .icon-img {
        margin: auto;
      }
      .register-form {
        width: 350px;
      }
    .last-header-container {
      h4 {
        margin: 62px auto;
        }
   .small-box .box {
      width: 70%;
    }
      width: 100%;
      }
      .main-content {
    width: 500px;
    display: contents;
  h1 {
    text-align: center;
    color: #fccf1a;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    padding: 0px 30px;
    margin-bottom: 40px;
  }
  h3 {
    text-align: center;
    color:  rgb(255, 255, 255);
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 40px;
    }
      }
      .box {
        margin: 0
      }
      .form-box {
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 12px 29px;
        margin: 0;
        h4 {
          padding: 0 40px;
        }
      }
}
  footer {
  margin: auto;
  .lg-box {
    width: 100%;
  }
  .mx-auto {
    margin-left: 0;
    margin-right: 0;
  }
    p {
      font-size: 12px;
      padding: 0 5px;
    }
    }
}
@media only screen and (max-width: 450px) {
    header {
    .main-content {
    h1 {
      font-size: 29px;
      padding: 0px 0px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 16px;
    }
  }
   .register-form {
      width: 100%;
    }
    .last-header-container {
      h4 {
        margin: 62px auto;
        }
      .small-box .box {
      width: 90%;
      img {
        padding: 10px;
      }
      p {
        font-size: 12px;
      }
    }
      width: 100%;
    }
    }
    main {
    .first-main-container {
      h2{
        font-size: 20px;
      }
      h4{
        font-size: 14px;
      }
  }
      .second-main-container {
        h4 {
          font-size: 16px;
        }
      }
      .third-main-container {
        .btn {
          font-size: 19px;
        }
      }
    }
}
@media only screen and (max-width: 360px) {
  header{
    .first-header-container {
      padding-top: 5px;
    }
    .flex-item-right {
      max-height: 350px;
    }
    .icon-img {
        width: 40%;
        height: 50%;
    }
    .main-content {
      h1, h3 {
      margin-bottom: 10px;
      padding: 0 20px;
    }
    h3 {
      margin-top: 8px;
      font-size: 13px;
      padding-bottom: 10px;
    }
   }
    .form-box {
      padding: 3px 6px;
        h4{
        padding: 0 5px;
      }
    }
  }
}
