@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lg-box {
    flex: 0 0 auto;
    width: 75%;
  }
.md-box {
    flex: 0 0 auto;
    width: 50%;
  }
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item-left {
  flex: 55%;
}
.flex-item-right {
  flex: 45%;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 2rem !important;
}
.wrap {
  width: 100%;
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 100%;
  width: 1320px;
}
.center-wrap {
  max-width: fit-content;
  margin: auto;
}
.box {
  max-width: fit-content;
  margin: auto;
  margin-top: 10px;
}
form.registerForm {
    --formGap: 1rem;
    --containerWidthSM: 420px;
    container-type: inline-size;
    position: relative;
}

form.registerForm .registerFormInner>.form-control.firstNameWrapper {
    order: 1;
}
form.registerForm .form-control .input {
    position: relative;
}
form.registerForm .form-control .input svg {
    display: none;
    height: 90%;
    width: auto;
    position: absolute;
    inset: 3% 10px auto auto;
}
form.registerForm .form-control .phone-input svg {
    display: none;
    height: 62%;
    width: auto;
    position: absolute;
    inset: 2% 10px auto auto;
}
form.registerForm .error {
    color: var(--clr-danger);
    font-size: 61%;
    padding-top: 1px;
    color: red;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
}
input[type="checkbox"] {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-prepend {
      margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    /* background-color: var(--bs-body-bg); */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-select {
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-repeat: no-repeat;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}
.register-form {
  font-family: 'Montserrat';
  width: 320px;
  margin: auto;
  input,
  select {
  margin-bottom: 13px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 15px;
  }
  select.form-select {
    background-image: url("./images/select-svg.png");
    background-position: right center;
    background-size: auto;
  }
    .agreementCheckbox {
    display: flex;
    input[type="checkbox"] {
    margin-right: 6px;
}
  }
  .phone {
    display: flex;
  }
  .input-prefix {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
  }
     label {
      font-size: 11px;
    }
    p {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: center;
    }
    .btn {
  justify-content: center;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  color: #171718;
  background-color: #ffb401;
  border: 1px solid #ffffff;
  width: 100%;
  }
  }

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-center {
    text-align: center !important;
}

header {
  background-image: url("./images/Web-header-design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
   position: relative;
   .icon-img {
    margin-top: 10px ;
   }
 .main-content {
    width: 500px;
    padding-left: 20px;
    padding-right: 60px;
    margin-bottom: 10px;
    h2 {
    font-size: 37px;
    font-weight: 700;
    color:  #fff;
    span {
      color: #ffb401;
    }
  }
    .mobile-btn {
      display: none;
      background-color: #ffb401;
      color: #000000;
      border-radius: 0;
      font-weight: 800;
      font-size: 24px;
      padding: 3px 18px;
      width: 300px;
      margin: auto;
   }
   .mobile-btn:hover {
  color: #fff;
  background-color: #353535;
}
  h4 {
  color: #f2f3f6;
  font-weight: 300;
  font-size: 20px;
  }
 }
 .flex-item-right {
  z-index: 1;
 }
 .coin-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
 }
 .tablet-coin-img {
  display: none;
 }

  .form-box {
    width: 320px;
    background-color: #f2f3f6;
    padding: 10px 30px 30px 30px;
    h4 {
      color:#000000;
      padding: 0px 10px 10px;
      font-weight: 500;
      border-bottom: 1px solid #4a4a4b;
      margin: 0 auto;
      margin-bottom: 25px;
      font-size: 20px;
    }
  }
.btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  background-color: #000000;
  color: #ffb401;
  border-radius: 0;
  font-size: 17px;
  margin-bottom: 10px;
  width: 100%;
}
.btn:hover {
  color: #f2f3f6;
  background-color: #4a4a4b;
}
.register-form {
  width: 260px;
  margin: auto;
  input,
  select {
  margin-bottom: 19px;
  border-radius: 0;
  font-size: 13px;
  padding: 3px 15px;
   background-color: #f8f8f8;
  }
  select.form-select {
    background-image: url("./images/select-svg.png");
    background-position: right center;
    background-size: auto;
  }
  .phone {
    display: flex;
  }
  .input-prefix {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
  }
     label {
      font-size: 8px;
    }
    p {
      font-size: 8px;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}
main {
  position: relative;
  .small-box {
    width: 700px;
    padding: 10px 10px 10px 50px;
  }
  .first-main-container {
    h2 {
  color: #0f0f0f;
  font-weight: 700;
  font-size: 25px;
  padding-left: 10px;
  }
    h4 {
  font-weight: 500;
  font-size: 19px;
  margin: 10px auto 20px;
  padding-left: 10px;
  }
  }
 .second-main-container {
    background-image: url("./images/Web-body-background-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    h4 {
      font-size: 20px;
       margin: 10px auto;
       color: rgb(255, 255, 255);
       font-weight: 300;
       line-height: 1.6;
       padding: auto 20px;
      padding-left: 10px;
    }
    h3 {
      color: #ffb401;
      padding: auto 20px;
      padding-left: 10px;
    }
  }
  .third-main-container {
    h3 {
      font-size: 20px;
      padding-left: 10px;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      span {
        font-size: 20px;
        font-weight: 800;
        padding-right: 3px;
      }
    }
  }
   .forth-main-container {
    h3 {
      font-size: 20px;
      padding-left: 10px;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      padding-left: 10px;
    }
    padding:0 0 35px;
   .btn {
    background-color: #ffb401;
    color: #000000;
    border-radius: 0;
    font-weight: 800;
    font-size: 24px;
    padding: 3px 18px;
    width: 300px;
   }
   .btn:hover {
  color: #fff;
  background-color: #353535;
}
  }
  .mobil-man {
    display: none;
  }
  .web-man {
  width: 30%;
  height: auto;
  position: absolute;
  top: 10px;
  }
}
footer {
  background-color: #353535;
  text-align: left;
  .footer-wrap {
    padding: 0px 25px;
  }
    p {
    margin-bottom: 24px;
    font-size: 12px;
    color: rgb(206, 206, 206);
  }
}

@media only screen and (max-width: 1460px) {
  main {
    .web-man {
      width: 28%;
    }
  }
}
@media only screen and (max-width: 1351px) {
  header {
    .main-content {
      z-index: 2;
    }
   .coin-img {
      opacity: 0.3;
    }
  }
}
@media only screen and (max-width: 1300px) {
   main {
    .web-man {
      width: 25%;
    }
  }
}
@media only screen and (max-width: 1227px) {
  header {
    .main-content {
      h2{
        font-size: 33px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}
@media only screen and (max-width: 1200px) {
    main {
    .web-man {
      display: none;
    }
    .mobil-man {
      display: block;
      margin: auto;
    }
 }
}
@media only screen and (max-width: 1110px) {
  header {
   .main-content {
      h2{
        font-size: 30px;
      }
      h4 {
        font-size: 19px;
      }
    }
  }

}
@media only screen and (max-width: 1050px) {
  header{
    background-image: url("./images/23\ opac\ bitcoin\ image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #000000;
    .tablet-coin-img {
      display: none;
    }
   .flex-container {
    flex-direction: column;
    }
   .flex-item-left {
    flex: 50%;
  }
   .flex-item-right {
    flex: 50%;
  }
  .coin-img {
    display: none;
  }
  .tablet-coin-img {
    top: 0;
    position: absolute;
    opacity: 0.3;
    left: 10%;
    z-index: 0;
  }
   .main-content {
    width: 80%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  .mobile-btn {
    display: block;
    margin: auto;
  }
  }
  .icon-img {
    margin: 10px auto;
    display: block;
  }
  .form-box {
    margin: auto;
  }
 }
}
@media only screen and (max-width: 980px) {
    header {
  .main-content {
    h2 {
      font-size: 25px;
    }
    h4 {
      font-size: 18px;
    }
   }
  }
     main {
  .second-main-container {
    background-image: url("./images/Mobil-body-section-desgin.png");
    }
  }
}

@media only screen and (max-width: 872px) {
  header {
    .main-content {
      h2 {
        font-size: 25px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  main {
   .small-box {
    width: 100%;
   } 
  .second-main-container {
    background-image: url("./images/Mobil-body-section-desgin.png");
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    .main-content {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
      }
      .mobile-btn {
       display: block;
      }
    }
    .coin-img {
      display: none;
    }
  }
  main {
    .first-main-container {
      h2, h4 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .second-main-container {
    background-image: url("./images/Mobil-body-section-desgin.png");
    h4 {
      font-size: 15px;
      margin: auto;
      text-align: center;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .third-main-container {
          h4 {
      font-size: 15px;
      margin: auto;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .forth-main-container {
          h4 {
      font-size: 15px;
      margin: auto;
      text-align: center;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .small-box {
      width: 100%;
      padding: 20px;
    }
  }
  footer {
    p {
      line-height: 1.7;
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 550px) {
  header {
    background-image: url("./images/Mobil-header-design.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    .tablet-coin-img {
      display: none;
    }
    .main-content {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 16px;
      }
      .mobile-btn {
       display: block;
      }
    }
   .form-box {
    width: 100%;
   }
    .coin-img {
      display: none;
    }
  }
  main {
    .first-main-container {
      h2, h4 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .second-main-container {
    background-image: url("./images/Mobil-body-section-desgin.png");
    h4 {
      font-size: 15px;
      margin: auto;
      text-align: center;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .third-main-container {
          h4 {
      font-size: 15px;
      margin: auto;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .forth-main-container {
          h4 {
      font-size: 15px;
      margin: auto;
      text-align: center;
    }
         h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
      }
    }
    .small-box {
      width: 100%;
      padding: 20px;
    }
  }
  footer {
    p {
      line-height: 1.7;
      font-size: 13px;
    }
  }
}